@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.983 0.0023 277.2278);
    --foreground: oklch(0.3138 0.0131 264.3681);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3138 0.0131 264.3681);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3138 0.0131 264.3681);
    --primary: oklch(0.5099 0.1352 272.2691);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9188 0.0058 277.1725);
    --secondary-foreground: oklch(0.3138 0.0131 264.3681);
    --muted: oklch(0.9188 0.0058 277.1725);
    --muted-foreground: oklch(0.5855 0.0163 276.8599);
    --accent: oklch(0.9188 0.0058 277.1725);
    --accent-foreground: oklch(0.3138 0.0131 264.3681);
    --destructive: oklch(0.6333 0.2001 24.932);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8741 0.0133 277.0472);
    --input: oklch(0.8741 0.0133 277.0472);
    --ring: oklch(0.5099 0.1352 272.2691);
    --chart-1: oklch(0.6285 0.1397 45.4258);
    --chart-2: oklch(0.9843 0.0017 247.8393);
    --chart-3: oklch(0.8264 0.1516 178.4084);
    --chart-4: oklch(0.7954 0.0936 62.0414);
    --chart-5: oklch(0.6008 0.116 138.7367);
    --sidebar: oklch(0.983 0.0023 277.2278);
    --sidebar-foreground: oklch(0.3138 0.0131 264.3681);
    --sidebar-primary: oklch(0.5099 0.1352 272.2691);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9188 0.0058 277.1725);
    --sidebar-accent-foreground: oklch(0.3138 0.0131 264.3681);
    --sidebar-border: oklch(0.8741 0.0133 277.0472);
    --sidebar-ring: oklch(0.5099 0.1352 272.2691);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.4rem;
    --shadow-x: 0;
    --shadow-y: 0.3rem;
    --shadow-blur: 0.8rem;
    --shadow-spread: -0.2rem;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(230 10% 50%);
    --shadow-2xs: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.05);
    --shadow-xs: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.05);
    --shadow-sm: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.1),
        0 1px 2px -1.2px hsl(230 10% 50% / 0.1);
    --shadow: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.1),
        0 1px 2px -1.2px hsl(230 10% 50% / 0.1);
    --shadow-md: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.1),
        0 2px 4px -1.2px hsl(230 10% 50% / 0.1);
    --shadow-lg: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.1),
        0 4px 6px -1.2px hsl(230 10% 50% / 0.1);
    --shadow-xl: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.1),
        0 8px 10px -1.2px hsl(230 10% 50% / 0.1);
    --shadow-2xl: 0 0.3rem 0.8rem -0.2rem hsl(230 10% 50% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2103 0.0078 271.0282);
    --foreground: oklch(0.9843 0.0017 247.8393);
    --card: oklch(0.252 0.0104 270.9781);
    --card-foreground: oklch(0.9843 0.0017 247.8393);
    --popover: oklch(0.252 0.0104 270.9781);
    --popover-foreground: oklch(0.9843 0.0017 247.8393);
    --primary: oklch(0.5099 0.1352 272.2691);
    --primary-foreground: oklch(0.9843 0.0017 247.8393);
    --secondary: oklch(0.3138 0.0131 264.3681);
    --secondary-foreground: oklch(0.9843 0.0017 247.8393);
    --muted: oklch(0.3138 0.0131 264.3681);
    --muted-foreground: oklch(0.7107 0.0351 256.7877);
    --accent: oklch(0.3138 0.0131 264.3681);
    --accent-foreground: oklch(0.9843 0.0017 247.8393);
    --destructive: oklch(0.3959 0.1331 25.7205);
    --destructive-foreground: oklch(0.9843 0.0017 247.8393);
    --border: oklch(0.3497 0.0165 270.9101);
    --input: oklch(0.3497 0.0165 270.9101);
    --ring: oklch(0.5099 0.1352 272.2691);
    --chart-1: oklch(0.6285 0.1397 45.4258);
    --chart-2: oklch(0.9843 0.0017 247.8393);
    --chart-3: oklch(0.8264 0.1516 178.4084);
    --chart-4: oklch(0.7954 0.0936 62.0414);
    --chart-5: oklch(0.6008 0.116 138.7367);
    --sidebar: oklch(0.2103 0.0078 271.0282);
    --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
    --sidebar-primary: oklch(0.5099 0.1352 272.2691);
    --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
    --sidebar-accent: oklch(0.252 0.0104 270.9781);
    --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
    --sidebar-border: oklch(0.3497 0.0165 270.9101);
    --sidebar-ring: oklch(0.5099 0.1352 272.2691);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.4rem;
    --shadow-x: 0;
    --shadow-y: 0.5rem;
    --shadow-blur: 1.5rem;
    --shadow-spread: -0.5rem;
    --shadow-opacity: 0.6;
    --shadow-color: hsl(225 10% 5%);
    --shadow-2xs: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.3);
    --shadow-xs: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.3);
    --shadow-sm: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.6),
        0 1px 2px -1.5px hsl(225 10% 5% / 0.6);
    --shadow: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.6),
        0 1px 2px -1.5px hsl(225 10% 5% / 0.6);
    --shadow-md: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.6),
        0 2px 4px -1.5px hsl(225 10% 5% / 0.6);
    --shadow-lg: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.6),
        0 4px 6px -1.5px hsl(225 10% 5% / 0.6);
    --shadow-xl: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 0.6),
        0 8px 10px -1.5px hsl(225 10% 5% / 0.6);
    --shadow-2xl: 0 0.5rem 1.5rem -0.5rem hsl(225 10% 5% / 1.5);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}

@layer base {
    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }
}

/* React Flow node selection styles */
.react-flow__node.selected #base-node {
    @apply ring-3 ring-muted-foreground/25 shadow-lg;
}
